.page {
    background: url("../img/bg.png") !important;
}
i.icon.icon-road-accident {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-road-accident.png");
  border-radius: 3px;
}
i.icon.icon-osago {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-osago.png");
  border-radius: 3px;
}
i.icon.icon-mulct {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-mulct.png");
  border-radius: 3px;
}
i.icon.icon-logo {
  width: 24px;
  height: 24px;
  background-image: url("../img/i-logo.png");
  border-radius: 3px;
}
.navbar, .toolbar, .subnavbar {
    background: #e3002b;
}
.button, a {
    /*color: #e3002b;*/
}
.login-screen {
    background: url("../img/splash.png") no-repeat;
    padding-top: 260px;
    transition-duration: 0ms !important;
    text-align: center;
    color: white;
}
.copy {
    color: #777;
}
#dkbm {
    display: none;
}

.ext-call{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    background: #e3002b;
    color: white !important;
}

@keyframes pulse {
    0% {
        /*transform: scale(0.9);*/
        opacity: 0.7;
    }
    50% {
        /*transform: scale(1);*/
        opacity: 1;
    }
    100% {
        /*transform: scale(0.9);*/
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        /*-webkit-transform: scale(0.95);*/
        opacity: 0.7;
    }
    50% {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }
    100% {
        /*-webkit-transform: scale(0.95);*/
        opacity: 0.7;
    }
}
